[Unit]
Description=tokei.rs server

[Service]
ExecStart=/opt/tokei/tokei_rs
WorkingDirectory=/opt/tokei
Restart=always
RestartSec=10                       # Restart service after 10 seconds if node service crashes
StandardOutput=syslog               # Output to syslog
StandardError=syslog                # Output to syslog
SyslogIdentifier=tokei_rs

[Install]
WantedBy=multi-user.target
